.c-site-header {
  padding: $inuit-global-spacing-unit 0;
  background: $color-brand6;

  &__toggle{
    position: absolute;
    top: $inuit-global-spacing-unit;
    right: $inuit-global-spacing-unit;
    z-index: 10;
    border: none;
    background: transparent;
    color: white;
  }
  @include mq($until: tablet) {
    &__header{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  @include mq($from: tablet) {
    &__toggle{
      display: none;
    }
    &__wrapper {
      display: flex;
      align-items: center;
    }
    &__logo {
      margin: 0;
      justify-self: flex-start;
    }
    &__nav {
      flex-grow: 1;
    }
  }

}
.c-site-nav {
  position: relative;
  @include mq($until: tablet) {
    display: none;
    position: fixed;
    background: $color-brand6;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: $inuit-global-spacing-unit-large * 2;
  }
  &.active{
    display: block;
  }
  @include mq($from: tablet) {
    display: flex;
    justify-content: flex-end;
  }
  &-link {
    font-family: $fontstack-alt;
    text-decoration: none;
    text-transform: capitalize;
    padding: $inuit-global-spacing-unit-small;
    color: $color-white;
    display: block;
    &.active {
      background: white;
      color: $color-brand6;
    }
  }
}
