.c-quote {
  &__body {
    position: relative;
    &:after,
    &:before {
      top: 100%;
      left: 10%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &:before {
      border-color: rgba(194, 225, 245, 0);
      border-top-color: $color-brand5;
      border-width: 10px;
      margin-left: -10px;
    }
  }
}

.c-quote-author{
  &__name{
    display: block;
  }
  &__role{
    display: block;
    color: $color-brand4;
  }
}
