.c-section{
  padding-top: 2 * $inuit-global-spacing-unit-large;
  padding-bottom: 2 * $inuit-global-spacing-unit-large;
  &--light-bg{
    background: $color-brand1;
  }
  &--dark-bg{
    background: $color-brand6;
  }
}

.c-section-header{
  margin-bottom: $inuit-global-spacing-unit-large;
}
