.c-logo-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  &__item {
    padding: $inuit-global-spacing-unit;
  }
}

.c-logo {
  display: inline-block;

  box-sizing: content-box;
  &__img {
    width: 6rem;
  }
  &--small {
    .c-logo {
      &__img {
        width: 3rem;
      }
    }
  }
}
