.c-team{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: $inuit-global-spacing-unit;
  grid-row-gap: $inuit-global-spacing-unit;
  &__member{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.c-team-member{
  &__image{
    overflow: hidden;
    border-radius: 999px;
    height:150px;
  }
}
