.c-section{
  border-bottom: 1px solid $color-gray4;
  &__header{
    text-align: center;
  }
  &.what-we-do{
    display: flex;
    align-items: center;
    .c-section{
      &__header{
        text-align: left;
        order: 2;
        padding: $inuit-global-spacing-unit;
      }
    }
  }
}
