///* ========================================================================
//   #GLOBAL
//   ======================================================================== */

// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

// Standardise some UI treatments.

$global-radius: 3px !default;
$global-transition: all 300ms ease-in-out !default;

// -------------------------------------
// Font families
// -------------------------------------

$fontstack-main: ("Lato", "Helvetica", "Arial", sans-serif);
$fontstack-alt: ("Montserrat", "Georgia", "Times", serif);

// -------------------------------------
// Colors
// -------------------------------------

$color-brand1: #f5f0df;
$color-brand2: #eee0af;
$color-brand3: #f2d87f;
$color-brand4: #85ccf6;
$color-brand5: mix(#85ccf6, #333c4e,20%);
$color-brand6: #333c4e;

$color-gray1: #fafafa;
$color-gray2: #f3f3f2;
$color-gray3: #e7e7e6;
$color-gray4: #cfcfcd;
$color-gray5: #bfbfbd;
$color-gray6: #a9a8a4;
$color-gray7: #333c4e;
$color-gray8: darken(#333c4e,10%);

$color-white: #ffffff;
$color-black: #000000;
