$inuit-font-size-body-1: 16px * 0.8;
$inuit-font-size-body-2: 16px;
$inuit-font-size-body-3: 16px * 1.25;

$inuit-font-size-h1: 36px;
$inuit-font-size-h2: 28px;
$inuit-font-size-h3: 24px;
$inuit-font-size-h4: 20px;
$inuit-font-size-h5: 18px;
$inuit-font-size-h6: 16px;
