///* ========================================================================
//   #GLOBAL
//   ======================================================================== */

// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

// Standardise some UI treatments.

$global-radius: 3px !default;
$global-transition: all 300ms ease-in-out !default;

// -------------------------------------
// Font families
// -------------------------------------

$fontstack-main: ("Lato", "Helvetica", "Arial", sans-serif);
$fontstack-alt: ("Montserrat", "Georgia", "Times", serif);

// -------------------------------------
// Colors
// -------------------------------------

$color-brand1: #f0f7f9;
$color-brand2: #85ccf6;
$color-brand3: #f2d87f;
$color-brand4: #85ccf6;
$color-brand5: darken(#85ccf6,9%);
$color-brand6: #333c4e;

$color-gray8: rgb(41,41,41);
$color-gray7: rgb(72, 80, 96);
$color-gray6: rgb(51, 60, 78);
$color-gray4: rgb(103,103,110);
$color-gray1: #fafafa;

$color-gray5: mix($color-gray1,$color-brand5,40%);
$color-gray3: mix($color-gray1,$color-brand5,80%);
$color-gray2: mix($color-gray1,$color-brand5,90%);


$color-white: #ffffff;
$color-black: #000000;
