.l-text-and-list {
  display: grid;
  grid-template-columns: 6fr 1fr 4fr 1fr;
  grid-template-areas: "text . list .";
  grid-gap: $inuit-global-spacing-unit;
  &__text {
    grid-area: text;
    margin-right: 2rem;
  }
  &__list {
    grid-area: list;
  }
}
