.l-introcontent {
  display: grid;
  grid-template-columns: 4fr 1fr 6fr 1fr;
  grid-template-areas: "intro . main .";
  gap: $inuit-global-spacing-unit-large;
  &__intro {
    grid-area: intro;
  }
  &__main {
    grid-area: main;
  }
  &--invert{
    grid-template-columns: 7fr 5fr;
    grid-template-areas: "main intro";
  }
}
